# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yaml and/or the recipe/meta.yaml.

language: objective-c

env:
  matrix:
    
    - CONDA_PY=27
    - CONDA_PY=34
    - CONDA_PY=35
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "tZ7Ja1RdhxDXImi8AeFnHGxmcFjoZz9RFfgvssny+CtnmJEmIiI9ygbhhGEO9daNYVZYEXsjpJMQLPabcNYUHcOwODOLaeGyNLwdQYu71FDLq/53D04bC8t/C2URfs5HuCTHS8U8+GfaecQl5CsU/dmLH3SVZdOP1BM7rRfqOW/m/z9alpiYjDs+qn4fUbb0VQhcxRx42pqnH176iuaiWMnW/SjyC9qfsH6gvRFb76Fo8lVNadMo0Y/oDudS3gnw4UoL9XszMvxrrz9wW25/ALnQrH9ttWbbawyVPc9Roy3JTQLp8o5X3egJX8LR8S8AkkwMYvmkoUdM8XUZVYLD8kn073vQSMAcpVFmfLswsTCVtu0IYu9bbiTQWvCyBTf1UjXbYpD+Rcr147Y7bkoNz0g8YGLp+/V6sdNQ2rjOMLly+fLNgaeuzS1pcncJjQqTc8rtxNKsTTtUexpDlYRn3tV3yr4O+k+n00Sn/bmW+xe4pbykSyLcspgdyy2XchB86b9elke1oNeea0HrNLrOIFh+84V9YhafZCy6v4MlCnT4STH3cQ6QNhCpR3NOBRs7Py0nfMjf1zQ7PTGpg6oJ40pYiF6gd5MUBZhbi6/LauZcZCoYUiiTXHd8La7tqL6cGApX3GEbWW23sJ/z4+KzwqQeXzFCi4LC6w4Txddul34="


before_install:
    - brew remove --force $(brew list)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH

      conda config --set show_channel_urls true
      conda update --yes conda
      conda install --yes conda-build=1.20.0 jinja2 anaconda-client
      conda config --add channels conda-forge
      

script:
  - conda build ./recipe

after_success:

  - ./ci_support/upload_or_check_non_existence.py ./recipe conda-forge --channel=main
